<main id="add-workout">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Add Exercise Session
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <div class="field">
                                    <label class="label">Workout Category</label>
                                    <div class="control">
                                        <div class="select">
                                            <select>
                                                <option>Cardio</option>
                                                <option>HIIT</option>
                                                <option>Weightlifting</option>
                                                <option>Pilates</option>
                                                <option>Yoga</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>