<main id="add-workout">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Add Exercise Session
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <div class="field">
                                    <label class="label">Workout Category</label>
                                    <div class="control">
                                        <div class="select">
                                            <select>
                                                <option>Cardio</option>
                                                <option>HIIT</option>
                                                <option>Weightlifting</option>
                                                <option>Pilates</option>
                                                <option>Yoga</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="field">
                                    <label class="label">Distance</label>
                                    <div class="control">
                                        <input class="input" type="text"
                                            placeholder="If distance is not a factor, type 0.">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Duration</label>
                                    <div class="control">
                                        <input class="input" type="text"
                                            placeholder="How long did you do this exercise for?">
                                    </div>
                                </div>

                                <div class="field">
                                    <label for="date-input" class="label">Date</label>
                                    <div class="control">
                                        <input class="form-control" type="date" value="" id="date-input">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Workout Details</label>
                                    <div class="control">
                                        <textarea class="textarea"
                                            placeholder="Enter any other details about this workout. (i.e. reps, weight, etc.)"></textarea>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" type="submit" class="card-footer-item">Add Workout</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

    </main>