<main id="add-workout">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Plan Exercise Session
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <div class="field">
                                <label class="label">Workout Category</label>
                                <div class="control">
                                    <div class="select">
                                        <select id="category">
                                            <option>Cardio - Running</option>
                                            <option>Cardio - Swimming</option>
                                            <option>Cardio - Elliptical</option>
                                            <option>Cardio - Biking</option>
                                            <option>HIIT</option>
                                            <option>Weightlifting</option>
                                            <option>Pilates</option>
                                            <option>Yoga</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Distance</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="If distance is not a factor, type 0." id="distance">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Duration</label>
                                <div class="control">
                                    <input class="input" type="text"
                                        placeholder="How long did you do this exercise for?" id="duration">
                                </div>
                            </div>

                            <div class="field">
                                <label for="date-input" class="label">Date</label>
                                <div class="control">
                                    <input class="form-control" type="date" value="" id="date-input">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Workout Details</label>
                                <div class="control">
                                    <textarea class="textarea"
                                        placeholder="Enter any other details about this workout. (i.e. reps, weight, etc.)" id="details"></textarea>
                                </div>
                            </div>


                        </div>
                    </div>
                    <footer class="card-footer" id="add-a-workout">
                        <a href="/view_workouts" type="submit" class="card-footer-item">Add Workout</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>

</main>