<main id="view-workouts">
    <div id="container">
        <div class="row mt-4">
            <div class="col-12 col-md-6 mt-2 column">
                <div class="card mb-2">
                    <div class="card-header text-center">
                        Workouts to Complete
                    </div>
                    <!-- Div to hold workouts that have yet to be completed -->
                    <div class="card-body mb-4">
                            {{#each workouts}}
                                {{#unless completed}}
                                    {{> workout_todo completed=false}}
                                {{/unless}}
                            {{/each}}

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 mt-2 column">
                <div class="card mb-2 completed-workouts-card">
                    <div class="card-header" id="completed-workouts-header">
                        Completed Workouts
                    </div>
                    <!-- Div to hold completed workouts that have yet to be deleted -->
                    <div class="card-body mb-4">
                            {{#each workouts}}
                                {{#if completed}}
                                    {{> workout_completed completed=true}}
                                {{/if}}
                            {{/each}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>