/* APPLIES TO BOTH index.handlebars (add_workout & view_workouts) FILES */

@media screen and (max-width: 676px) {
    .modal-dialog {
      max-width: 400px;
      margin-left: 20px;
      margin-top: 50px;
    
    }
    .login-button {
        margin-left: 0px;
    }
}

.navbar {
    border-bottom: 1px solid black;
    background-color: white;
}

.logo {
    color: black;
    font-family: 'Shippori Mincho B1', serif;
}

.navbar-toggler {
    color: black;
}

.nav-item {
    color: black;
    font-family: 'Shippori Mincho B1', serif;
}

.bye-btn {
    background-color: rgb(147, 80, 150);
    color: white;
}

.bye-btn:hover {
    font-weight: 400;
}
.card-header {
    height: 50px;
    justify-content: center;
    font-weight: 300;
    font-family: 'Shippori Mincho B1', serif;
}

.card {
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Shippori Mincho B1', serif;
}

#sticky-footer {
    color: black;
    font-family: 'Shippori Mincho B1', serif;
    font-size: small;
    margin-top: 50px;
}

a:hover {
    font-weight: 800;
    text-decoration: underline;
    color: black;
}

/* APPLIES TO THE add_workout.handlebars FILE ONLY */
.optional {
    float: left;
    margin: -5px;
}
.container {
    width: 400px;
}

.modal-dialog {
    text-align: center;
}

#myModal {
    margin-top: 100px;
}

.card-header-title {
    justify-content: center;
}

main {
    background-color: rgb(58, 48, 58);
    width: 100%;
}

.card-footer-item {
    color: black;
    font-weight: 600;
}

/* APPLIES TO THE view_workout.handlebars FILE ONLY */

@media screen and (max-width: 650px) {
    .row {
      flex-direction: column;
    }
}

body, html {
    background-color: rgb(58, 48, 58);
    height: 100%;
    width: 100%;
}

#container {
    margin-left: 20px;
    margin-right: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
  
.column {
    flex: 100%;
}

.complete-workout, .delete-workout {
    float: right;
}